MLFLOW_TRACKING_URI=http://localhost:5000

MODEL_NAME=stellar-classifier
MODEL_STAGE=Production

DATA_DIR=./data
LOG_LEVEL=INFO

DATA_SOURCE_URL="https://raw.githubusercontent.com/gabrielquiroga/ceia-amq1-tf/main/dataset/star_classification.csv"

MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=