MLFLOW_TRACKING_URI=http://localhost:5000

MODEL_NAME=stellar-classifier
MODEL_STAGE=Production

DATA_DIR=./data
LOG_LEVEL=INFO

DATA_SOURCE_URL="https://raw.githubusercontent.com/gabrielquiroga/ceia-amq1-tf/main/dataset/star_classification.csv"

MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ENDPOINT_URL_S3=http://localhost:9000

# PostgreSQL
PG_USER=mlflow
PG_PASSWORD=mlflow
PG_DATABASE_MLFLOW=mlflow_db
PG_DATABASE_AIRFLOW=airflow_db
PG_PORT=5432

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_ACCESS_KEY=minioadmin
MINIO_PORT=9000
MINIO_PORT_UI=9001
MLFLOW_BUCKET_NAME=mlflow-artifacts

# MLflow
MLFLOW_PORT=5000

# Airflow
ARIFLOW_PORT=8080 # Puerto para la UI de airflow
AIRFLOW_UID=50000 # UID del usuario dentro del contenedor
AIRFLOW_GID=0
AIRFLOW_IMAGE_NAME=extending_airflow:latest # imagen para buildear
AIRFLOW_PROJ_DIR=./airflow # carpeta local para DAGs, logs y configs
_AIRFLOW_WWW_USER_USERNAME=airflow # user y pass para la UI
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_JWT_SECRET=UoX1zWsW8i9QLGYAQ3xgRZ5Aqzx_bVUle8WoGaihQBY= # No deberia estar aca, hardcodeada para simplificar pruebas

# Frontend
FRONTEND_IMAGE_NAME=stellar_frontend:latest
FRONTEND_PORT=8501
API_BASE_URL=http://api:8000
