MLFLOW_TRACKING_URI=http://localhost:5000

MODEL_NAME=stellar-classifier
MODEL_STAGE=Production

DATA_DIR=./data
LOG_LEVEL=INFO

DATA_SOURCE_URL="https://raw.githubusercontent.com/gabrielquiroga/ceia-amq1-tf/main/dataset/star_classification.csv"

MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

# PostgreSQL
PG_USER=mlflow
PG_PASSWORD=mlflow
PG_DATABASE=mlflow
PG_PORT=5432

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_ACCESS_KEY=minioadmin
MINIO_PORT=9000
MINIO_PORT_UI=9001
MLFLOW_BUCKET_NAME=mlflow-artifacts

# MLflow
MLFLOW_PORT=5000